<!-- ENTORNO LOCAL -->
APP_ENV=local
<!-- URL LOCAL + CARPETA CONTENEDORA DE LOS ARCHIVOS -->
APP_URL=http://localhost/BeautySystem
APP_DEBUG=true
<!-- ACCESS TOKEN DE MERCADO PAGO -->
MP_ACCESS_TOKEN=
<!-- PUBLIC KEY DE MERCADO PAGO --> 
MP_PUBLIC_KEY=
<!-- CONFIGURACIÓN DE CORREO -->
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
<!-- CORREO ELECTRÓNICO DESDE EL CUAL SE ENVIARÁN LOS MENSAJES -->
MAIL_USERNAME=
<!-- CONTRASEÑA DE LA CUENTA DE CORREO ELECTRÓNICO (CONTRASEÑA DE APLICACIÓN) -->
MAIL_PASSWORD=
<!-- DIRECCIÓN DE CORREO ELECTRÓNICO DESDE LA CUAL SE ENVIARÁN LOS MENSAJES -->
MAIL_FROM_ADDRESS=
<!-- NOMBRE QUE APARECERÁ COMO REMITENTE EN LOS CORREOS ELECTRÓNICOS -->
MAIL_FROM_NAME=